*{
	margin: auto;
	font-size: 12px;
	color: #522a06;
	padding: 0px;
	font-family: '宋体';
}
img{
	border: 0;
}
a{
	text-decoration: none;
}
a:link{
	color: #522a06;
}
a:hover{
	text-decoration: underline;
}
span{
	float: right;
}
body{
	background-image: url(../images/bodybg.gif);
}
#banner{
	width: 1000px;
	height: 164px;
}

#header{
	width:100%;
	height:164px;
	background-image:url(../images/bg.gif);
	background-position:center;
}
.head_content{
	width:1000px;
	margin:auto;
}
.logo{
	float:left;
	margin-top:38px;
	margin-left:25px;
}

#nav{
	width:100%;
	height:40px;
	background:url(../images/nav.jpg);
}
.nav_content{
	width:1000px;
}
.nav_content li{
	list-style:none;
	margin-right: 15px;
	padding:0px;
	float:left;
	color: #fff;
	text-align: center;
}
.nav_content{
	float:left;
	width:800px;
	font-weight:bolder;
	color:#FFF;
	padding-left: 290px;
}
.nav_content a{
	color:#FFF;
	width:65px;
	line-height:40px;
	font-weight:bold;
	text-align:center;
}
.nav_content a:hover{
	color:#f9f603;
	text-decoration:none;
}
.nav_search{
	width:190px;
	float:left;
	padding:10px 0;
}
.search{
	width:140px;
	height:19px;
	float:left;
	border:1px solid #FFF;
	background-color:#f8f5ee;
}
.search_btn{
	width:44px;
	height:21px;
	float:right;
	background-color:#000;
	border:1px solid #f8f5ee;
	color:#FFF;
}
#content{
	background:url(../images/bg.jpg);
	background-repeat:repeat;
	margin-bottom:10px;
	width:1000px;
	overflow:hidden;
}
#content_top{
	overflow: hidden;
	padding-top: 5px;
}
.news_pic{
	width: 324px;
	height: 243px;
	background-image: url(../images/news_bg.png);
	float: left;
}
.tupian_one{
	width: 300px;
	height: 200px;
	margin-top: 10px;
}
.news_pic p{
	width: 300px;
	height: 22px;
	text-align: center;
	margin-top: 10px;
}


.news_list{
	width: 330px;
	margin-left: 30px;
	float: left;
}
.one{
	background-image: url(../images/change.png);
	height: 35px;
	background-repeat: no-repeat;
}
.news_list ul li{
	line-height: 30px;
}
.news_announce{
	width: 280px;
	margin-top: 15px;
	float: left;
	margin-left: 20px;
}
.l{
	text-align: center;
}
.news_announce ul li{
	line-height: 30px;
}
.nav_content .o{
	color: #f9f603;
}
.two{
	background-image: url(../images/board_bg.png);
	padding-top: 4px;
	padding-bottom: 20px;
}
ul{
	list-style-position: inside;
}
#content_bottom_left{
	width: 700px;
	float: left;
	height: 440px;
}
.academic{
	width: 330px;
	height: 193px;
	float: left;
}
.four{
	background-image: url(../images/academic.png);
	height: 45px;
}
.academic ul li{
	line-height: 30px;
}
.book_news{
	width: 330px;
	float: right;
}
.five{
	background-image: url(../images/book_news.png);
	height: 45px;
}
.book_news ul li{
	line-height: 30px;
}
.fengcai{
	width: 700px;
	height: 200px;
}
.six{
	background-image: url(../images/fengcai_bg1.png);
	height: 45px;
	margin-top: 194px;
	background-repeat: no-repeat;
}
.seven{
	background-image: url(../images/fengcai_bg2.png);
	height: 200px;
	margin: auto;
	background-repeat: no-repeat;
}
.s{
	margin-left: 20px;
	margin-top: 15px;
}
#content_bottom_right{
	width: 280px;
	height: 350px;
	margin-top: 45px;
	background-repeat: no-repeat;
	float: right;
}
.eight{
	text-align: center;
}
.nine{
     background-image: url(../images/show_bg.png);
}
.ten{
	float: right;
}
.eleven{
	padding-top: 20px;
	padding-left: 20px;
}
.twelve{
	float: left;
	color: red;
	font-weight:bolder; 
}
.thirteen{
	width: 207px;
	height: 150px;
	line-height: 22px;
}
#footer{
	background-image: url(../images/foot.gif);
	height:150px;
	margin-top: 80px;
}
.fourteenth{
	font-weight: bolder;
	font-size: 5px;
	text-align: center;
}
.fifteenth{
	text-align: center;
}
