
.content{
	text-align: center;
	width: 200px;
}
#all{
	margin: auto;
}
img{
    opacity:0.4;
    display: inline;
    margin: 5px;
    border:1px solid #bebebe;
    width: 200px;
    height: 160px;
    filter:alpha(opacity=40);
}
img:hover{
    opacity:1.0;
    border:1px solid #333333;
    filter:alpha(opacity=100); 
}
.image img{
	border:1px solid #bebebe;
	margin: 3px;
	width: 190px;
	height: 160px;
	float: left;
}
.image{
	width: 205px;
	float: left;
	margin-left: 20px;
    border:1px solid #bebebe;

}
